body {
    margin: 0;
    padding: 0;
    /* Remove overflow: hidden; */
}

#village-container {
    position: relative;
    width: 100vw;
    height: 80vh; /* Set a fixed height, adjust as needed */
    background-color: #f0f0f0;
}


.icon {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #3498db;
    border-radius: 50%;
}

.street {
    position: absolute;
    background-color: #2ecc71;
    width: 3px;
    height: 50px;
    transform-origin: 50% 100%;
}
.icon.selected {
    border: 2px solid red; /* Adjust the border style as needed */
}

  